name: Create and publish a Docker image

on:
  workflow_dispatch:
    inputs:
      push:
        description: 'Push image to registry? (true/false)'
        default: false
  push:
    branches: ['release']

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    strategy:
      matrix:
        platforms:
          - linux/arm64
          - linux/amd64
          - linux/arm/v7
          - linux/arm/v6
          - linux/ppc64le
          - linux/s390x

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Read version from package.json with fallback
        uses: amochkin/action-json@v1
        id: read_version
        with:
          property: version
          fallback: 0.0.0

      ### Setup BuildX so we can build for multiple platforms
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          platforms: ${{ matrix.platforms }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: ${{ github.event.inputs.push || true }}
          platforms: ${{ matrix.platforms }}
          tags: ${{ join(steps.meta.outputs.tags) }},ghcr.io/${{ github.repository }}:${{ github.sha }},ghcr.io/${{ github.repository }}:${{ steps.read_version.outputs.value }},ghcr.io/${{ github.repository }}:latest
          labels: ${{ steps.meta.outputs.labels }}
