name: CI Build

on:
  workflow_dispatch:
  push:
    branches: 
    - main

jobs:
  build:
    runs-on: self-hosted
    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.5
    - name: Run CI build
      run: ci/build.sh
